<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Disable directory browsing
    Options -Indexes +FollowSymLinks

    RewriteEngine On

    # Redirect www. to the root of server, to oveid excessive list of domains in Google Auth
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ %{REQUEST_SCHEME}://%1/$1 [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # PDF Error https://github.com/mikehaertl/phpwkhtmltopdf/issues/270
    SetEnvIfNoCase REQUEST_URI ^/pdf.php$ no-gzip dont-vary
</IfModule>
